.relatorio article {
  width: 80%;
  max-width: 1217px;
  height: auto;
  background-color: rgba(188, 194, 255, 0.74);
  margin: 0 auto;
  margin-top: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.relatorio p {
  color: #fff;
  font-family: "Inria Serif-bold", serif;
  font-size: 200%;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  text-align: center;
}