.retangulo2 {
    width: 80%;
    max-width: 1217px;
    height: 75vh;
    background-color: rgba(188, 194, 255, 0.74);
    margin: 0 auto;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .retangulo2 form {
    margin: 0 auto;
  }
  
  .titulosForms {
    color: #fff;
    font-family: "Inria Serif";
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
  }
  
  .inputsForms {
    width: calc(100% - 40px);
    height: 30px;
    background: #bdd9f2;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .botaoForms {
    width: calc(100% - 40px);
    background: #bdd9f2;
    color: #fff;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
  }
  
  .loginSenhaForms {
    color: #fff;
    font-family: "Inria Serif";
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
  }