.formulario {
  width: 85%;
  max-width: 1217px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--corContainer);
  box-sizing: border-box;
  margin-bottom: 50px;
}

.formulario label {
  width: 100%;
  color: var(--corTexto);
  font-family: var(--fonteTexto);
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.formulario select,
.formulario input {
  width: 100%;
  height: 40px;
  background: #bdd9f2;
  margin: 20px 0;
  padding: 10px;
  box-sizing: border-box;
}

.formulario button {
  width: 100%;
  background: #bdd9f2;
  color: var(--corTexto);
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.formulario h2 {
  width: 100%;
  color: var(--corTexto);
  font-family: var(--fonteTexto);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .formulario {
    padding: 20px;
    text-align: center;
  }

  .formulario label,
  .formulario select,
  .formulario input,
  .formulario button,
  .formulario h2 {
    font-size: 14px;
  }

  .formulario button {
    font-size: 18px;
  }
}
