.articleHome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 100px 20px;
}

.articleHome p {
  color: #ffffff;
  font-family: "Inria Serif-Regular", serif;
  font-size: 150%;
  font-weight: 400;
  line-height: 1.5;
  max-width: 800px;
  text-align: center;
  overflow-x: hidden;
}