.menu ul {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
}

.menu ul li {
  list-style-type: none;
  padding: 10px 20px; 
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .menu ul li {
      padding: 5px 0;
      margin: 10px; 
  }
}
